@import 'tailwindcss';

@theme {
  /* text color*/
  --color-main-color: #424242;
  --color-gray: #8a8a8a;
  /* max-width */
  --width-container: 448px;
  /*break point*/
  --breakpoint-xs: 401px;
}

@layer utilities {
  .text-story-responsive {
    font-size: clamp(7px, 4vw, 18px);
    line-height: clamp(8px, 6vw, 24px);
  }
  .max-w-container {
    max-width: var(--width-container);
  }
}

body {
  margin: 0;
  padding: 0;
}
